# -*- coding: utf-8 -*-
"""
Created on Fri Oct  7 21:06:23 2022

@author: Kavin
"""

{% extends 'base.html' %}
{% block head %}
<title>Home Page</title>
{% endblock %}
{% block body %}
<h1>Hello everyone,</h1>
<div class="p-5 mb-4 bg-light rounded-3">
<div class="container-fluid py-5">
<h1 class="dispay-5 fw-bold">WIFI TECHNOLOGY<h1>
<p class="col-md-8 fs-4"> Wi-Fi is a wireless networking technology that allows 
devices such as computers (laptops and desktops), mobile devices (smart phones 
and wearables), and other equipment (printers and video cameras) to interface with 
the Internet.
</p>
</div>
</div>
{% endblock %}
